table {
  background-color: #f6f6f6;
}

td {
  padding: 20px;
  color: black;
  text-align: start;
}
td, th {
  border: 1px solid #999;

}

th {
  background: rgb(42, 165, 136);
  color: white;
  padding: 6px 12px;
  text-align: start; 

}

.primary {
  background-color: #000000;
}

tfoot > tr  {
  background: black;
  color: white;
}

tbody > tr:hover {
  background-color: #b98ee6;
}
